@font-face {
    font-family: 'JejuHallasan';
    src: url('../Fonts/JejuHallasan-Regular.ttf');
}

@font-face {
    font-family: 'MetalMania';
    src: url('../Fonts/MetalMania-Regular.ttf');
}

.game-label {
    -fx-font-family: JejuHallasan;
}

.game-button {
    -fx-cursor: hand;
}

.game-button:hover {
    -fx-opacity: 0.9;
}

/* Ensure background fills entire pane */
.game-pane {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.game-background {
    -fx-background-image: url('../Images/big.png');
    -fx-background-size: 773px 516px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
