@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('../Fonts/BeVietnamPro-Regular.ttf');
}

.game-label {
    -fx-font-family: "Be Vietnam Pro";
}

.game-button {
    -fx-cursor: hand;
}

.game-button:hover {
    -fx-opacity: 0.85;
}

/* Ensure background fills entire pane */
.game-pane {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.game-background {
    -fx-background-image: url('../Images/big.png');
    -fx-background-size: 773px 516px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
